@import "themes";
// @import u;
@import "bootstrap-custom";
@import "components";
@import "modal";


body,
div,
input,
button {
    box-sizing: border-box;
}

ul {
    margin: 0;
}

button {
    outline: none;
    border: none;
}


.main {
    margin-top: 100px;
    overflow-y: auto;

    @media screen and (min-width: $tablet) {
        margin-left: 100px;
    }
}

// LOGIN
.fullScreenBG {
    display: flex;
    height: 100vh;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
}


.CardDiv {
    gap: 30px;
    display: flex;
    padding: 50px;
    max-width: 80%;
    max-height: 570px;
    border-radius: 15px;
    align-items: center;
    height: fit-content;
    box-sizing: border-box;
    flex-direction: column;
    background: rgba(230, 212, 192, 0.2);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.5), 10px 10px 20px rgba(209, 188, 164, 0.5);

    &#login {
        padding: 100px;
        max-width: none;
        max-height: none;
    }



    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    input {
        border: none;
        width: 300px;
        padding: 20px;
        outline: none;
        border-radius: 20px;


        font: {
            weight: 500;
            size: 1.5rem;
        }
    }

    input::placeholder {
        color: #B8874F;
    }

    input[type='submit'] {
        width: 100%;
        color: #B8874F;
        border-radius: 30px;
        background: #E6D4C0;
        box-shadow: 10px 10px 10px rgba(209, 188, 164, 0.5), -10px -10px 10px rgba(255, 255, 255, 0.5);

    }

}

//------------------------------------
//HOME

.dashboard-poster {
    // background: linear-gradient(90deg, rgba(#ffffff, .5) 10%, rgba($primary, .3) 97.17%);
    margin: 30px;
    height: 400px;

    padding: 50px;
    position: relative;
    transition: .5s all;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: 1px 3px 30px rgba(#000, .2);
    overflow: hidden;

    @media screen and (max-width: $tablet) {
        padding: 10px;
        height: fit-content;
        max-width: 500px;
        margin: 30px auto;

        &>h3 {
            margin-bottom: 10px;
        }

    }


    img.transparent-right {

        height: 275px;
        max-height: 50%;
        aspect-ratio: 1;
        object-fit: contain;
        opacity: .2;
        position: absolute;
        right: 10px;
        top: 10px;

        @media screen and (max-width: $tablet) {
            display: none;
        }
    }

    .home-dash-items {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        height: 100%;

        @media screen and (max-width: $tablet) {
            height: 250px;
        }
    }

    .dashboard {
        width: 500px;
        // height: 100%;
        padding: 20px 0;
        gap: 20px;
        // padding: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        box-sizing: border-box;

        @media screen and (max-width: $tablet) {
            overflow: hidden;
            padding: 0px;
            width: 100%;

        }

        h4 {
            font: {
                size: 1rem;
            }
        }

    }

    .graphs {
        // padding: 0;
        box-sizing: border-box;
        display: block;

        @media screen and (max-width: 1000px) {
            display: none;
        }

    }
}

.dashboard-poster:hover {
    // box-shadow: 1px 1px 10px rgba(#000, .1);
    box-shadow: 1px 3px 30px rgba(#000, .3);



}



// -----------------------------------
// Loans
.detailsTab {
    gap: 20px;
    display: grid;
    padding: 10px;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;

    height: calc(100vh - 80px);

    @media screen and (max-width: $tablet) {

        width: 100%;
        height: auto;
        grid-template-rows: 1fr 1fr 2fr;


    }

    .filters {
        gap: 20px;
        display: flex;
        justify-content: space-between;

        .filter-btns {
            font-size: 0;


        }

        button {
            height: 100%;
            margin: 0;
            border-radius: 0;
            outline: none;
            border: none;

            font: {
                size: 1.2rem;

            }


            // font-size: 12px;
        }

        .selected {
            background-color: $primary;
        }

    }

    .tiles {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 0;

    }

    .details {


        .list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .table {
        display: block;

    }

    .tiles {
        display: none;
    }

    @media only screen and (max-width: 768px) {
        .tiles {
            display: block;

        }

        .table {
            display: none;
        }
    }
}

.detailsTab>div {
    padding: 15px;
    // overflow-y: scroll;
    border-radius: 20px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    box-shadow: 2px 2px 10px rgba(#000, .1);


    .title {
        text-align: center;

    }
}

.loan-details-content {
    padding: 20px;

    grid-template-columns: repeat(2, 1fr);
    display: grid;

    // background-color: #fff;
    row-gap: 20px;
    column-gap: 50px;

    @media screen and (max-width:$tablet) {
        .loan-details-content {
            padding: 0;
            border-radius: 0;


            h5 {
                font: {
                    size: 1rem;
                }
            }

            td,
            th {
                font: {
                    size: 1rem;
                }
            }
        }
    }
}

.loan-options {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media screen and (max-width: $tablet) {
        flex-direction: column;
        gap: 10px;
    }
}

//ComanyDetails Page
.companyDetails {

    // margin: 15px;
    padding: 10px 30px;

    height: calc(100vh - 80px);

    @media screen and (max-width: $tablet) {

        width: 100%;
        height: auto;
        grid-template-rows: 1fr 1fr 2fr;


    }
}

.basic-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 700px;
    row-gap: 10px;
    column-gap: 5px;

    @media screen and (max-width: $mobile) {
        text-align: start;
        grid-template-columns: repeat(1, 1fr);
    }
}

.user-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 250px);
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 30px;

    @media screen and (max-width: 1500px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: $mobile) {
        grid-template-columns: repeat(1, 300px);
    }

    &.partner-grid {
        grid-template-columns: repeat(3, 400px);

        @media screen and (max-width: 1500px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

}



.user-card {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    gap: 10px;
    width: 100%;

    .info {
        h6 {
            color: $darkPrimary;

        }

        display: flex;
        flex-direction: column;
        gap: 0;

        align-items: start;
        justify-content: start;
    }

    h6 {
        text-align: start;
        height: 40px;

        overflow: hidden;
    }
}

.partner-card {
    @extend .user-card;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .info {


        display: flex;
        flex-direction: column;
        gap: 0;
        width: 60%;
        align-items: start;
        justify-content: start;
    }

    .download {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .download-btn {
            height: 100%;
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }

        // display: flex;
        // grid-template-columns: repeat(2, 1fr);
        // row-gap: 20px;
        // column-gap: 10px;

    }


}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

//Loan Details
.detail-tile {
    h6 {
        color: #808080;
    }
}


h2 {
    margin: 50px 0;
}

section {
    flex-grow: 1;
}

.file-drop-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 450px;
    background-color: $lightPrimary;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    transition: 0.2s;
    box-sizing: border-box;

    &.is-active {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.fake-btn {
    flex-shrink: 0;
    // background-color: rgba(0, 0, 0, 0.04);
    // border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.file-msg {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;

    &:focus {
        outline: none;
    }
}

footer {
    margin-top: 50px;

    a {
        color: rgba(0, 0, 0, 0.4);
        font-weight: 300;
        font-size: 14px;
        text-decoration: none;

        &:hover {
            color: $lightPrimary;
        }
    }
}